
.backgroundimages{
    width: 100%;
    height: 100%;
    margin-top: -8%;
    background-color: #fdf3e9;
    padding-bottom: 50px;
}

.flowerDesign{
    position: absolute;
    left: 50%;  
    top: 50px;
    transform: translate(-50%,0%);
    width: 50px;    
    height: auto;
}
.aboutustitle{
    text-align: center;
    padding-top: 150px;
}
.aboutusDescription{
    text-align: center;
    color: rgb(100, 100, 100);
    width: clamp(300px, 50%, 700px);
}
.aboutusShopNow{
    all: unset;
    background-color: white;
    padding: 12px 32px;
    text-transform: capitalize;
    border: 2px solid #ca9748;
}
.chandelier4{
    mix-blend-mode: multiply;
    height: 130%;
    object-fit: contain;
}



.aboutUs-content p{
    color: #ca9748;
}

@media (max-width: 767.98px) { 
    .chandelier4{
        width: 80%;
        height: 100%;
    }
 }